{% set arrSupport = [
    'Hướng dẫn mua hàng online',
    'Mua trả góp',
    'Chính sách bảo hành, đổi trả',
    'Giao hàng và lắp đặt',
    'Chính sách bảo mật',
    'Phương thức thanh toán',
] %}

{% set arrIntro = [
    'Giới thiệu công ty',
    'Tuyển dụng',
    'Liên hệ và góp ý',
    'Thẻ thành viên',
    'Sitemap',
] %}

{% set arrSocial = [
    {name: 'dribbble',icon: 'dribbble'},
    {name: 'facebook',icon: 'facebook-f'},
    {name: 'twitter',icon: 'twitter'},
    {name: 'Pinterest',icon: 'pinterest-p'},
    {name: 'Instagram',icon: 'instagram'},
    {name: 'Youtube',icon: 'youtube'},
] %}

{% set arrBranchs = [
    'CPN 07 Lê Hồng Phong - Hải Phòng',
    'CPN 63 Trần Nguyên Hãn - Hải Phòng',
    'CPN Hải Dương',
    'CPN VP Hà Nội',
] %}

{% set arrPayment = [
    'icon-cod',
    'icon-mastercard',
    'icon-visa',
    'icon-vnpay',
    'icon-atm',
] %}

<div id="footer">
    <div class="container">
        <div class="footer_container">
            <div class="row">
                <div class="col-4 footer_col">
                    <h3 class="footer_title">Hệ thống siêu thị điện máy CPN</h3>
                    <div class="footer_branchs">
                        {% for i in arrBranchs %}
                        <div class="footer_branchs__item">
                            <i class="fas fa-map-marker-alt"></i> {{ i }}
                        </div>
                        {% endfor %}
                    </div>
                    <div class="footer_contact">
                        <div class="footer_contact__item">
                              <i class="far fa-envelope"></i> cskh@cpn.vn
                        </div>
                        <div class="footer_contact__item">
                             <i class="far fa-bell"></i> Giờ mở cửa: <strong class="color_brand">08:00 - 21:30</strong>
                        </div>
                    </div>
                    <hr class="hr_border-primary" />
                    <div class="footer_hotline">
                        <i class="fal fa-headset"></i>
                        <div class="footer_hotline__data">
                            <div>Hotline Mua hàng - Dịch vụ</div>
                            <div>
                                <strong>0703.522.522</strong>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3 footer_col">
                    <h3 class="footer_title">Hỗ trợ khách hàng</h3>
                    <div class="footer_menu">
                        {% for i in arrSupport %}
                        <div class="footer_menu__item">
                            <a href="#" title="{{ i }}">
                                <i class="far fa-dot-circle"></i> {{ i }}
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-3 footer_col">
                    <h3 class="footer_title">Giới thiệu CPN</h3>
                    <div class="footer_menu">
                        {% for i in arrSupport %}
                            <div class="footer_menu__item">
                                <a href="#" title="{{ i }}">
                                    <i class="far fa-dot-circle"></i> {{ i }}
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-2 footer_col">
                    <h3 class="footer_title">Kết nối với CPN</h3>
                    <div>

                    </div>
                    <div class="footer_social">
                        {% for i in arrSocial %}
                        <a href="#" title="{{ i.name }}" class="{{ i.icon }}">
                            <i class="fab fa-{{ i.icon }}"></i>
                        </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_bottom">
            <div class="row">
                <div class="col-6">
                    <p>
                        © 2007 Công ty cổ phần vận tải và thương mại CPN Việt Nam
                        <br/>
                        MST/ĐKKD/QĐTL:0200463686
                    </p>
                    Thiết kế & Phát triển bởi: <a href="#">www.cpn.vn</a>
                </div>
                <div class="col-6 text-right">
                    <div class="footer_payments">
                        <span>Chấp nhận thanh toán:</span>
                        {% for i in arrPayment %}
                            <img src="images/{{ i }}.png" alt=""/>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
