{# layout.twig #}
<!DOCTYPE html>
<html>
<head>
    <title>{% block pageTitle %} Siêu thị điện máy CPN Việt Nam {% endblock %}</title>
    <meta name=description content="{{slogan}}"/>
    <meta name=keywords content="{{slogan}}"/>
    <meta name=title content="{{slogan}}"/>
    <meta itemprop=keywords name=news_keywords content="{{slogan}}"/>

{#    <meta name=viewport content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0"/>#}
    <meta name=author content="{{slogan}}"/>
    <meta name=article:author content="{{slogan}}"/>
    <meta http-equiv=Content-Type content="text/html; charset=utf-8"/>

    <meta itemprop=description property=og:description content="{{slogan}}"/>
    <meta property=og:site_name content="{{slogan}}"/>
    <meta property=og:locale content=vi_VN/>
    <meta property=og:type content=article/>
    <meta property=og:url content=""/>
    <meta property=og:title content="{{slogan}}"/>
    <meta property=fb:app_id content=1948000195514715/>
    <meta property=og:image content=""/>
    <meta itemprop=image content=""/>
    <meta itemprop=datePublished content="Thu, 14-03-2019 17:26:13"/>

    <meta name=robots content="index,follow"/>
    <link rel=canonical href=""/>
    <meta name=googlebot content="noodp,index,follow"/>
    <meta name=robots content="index,follow"/>

    <link rel="stylesheet" type="text/css" href="lib/fontawesome-pro/css/all.css"/>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/main.css"/>
</head>
<body>
<div id="main" class="">
    {% block page %}
        {% set slogan = 'CPN - Siêu thị điện máy CPN Việt Nam' %}
    {% endblock %}
</div>
<a href="#" class="back_to_top">
    <i class="far fa-chevron-double-up"></i>
</a>

    <!-- JS -->
    <!-- JS -->
    <script src="lib/jquery/jquery-3.3.1.js" type="text/javascript"></script>
    <script src="lib/bootstrap/js/bootstrap.bundle.min.js" type="text/javascript"></script>
{#    <script src="../../lib/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>#}
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <script src="js/main.js" type="text/javascript"></script>
</body>
</html>
